*{ 
    box-sizing:border-box
}

/***.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
    position:fixed;
    left: 50%;
    top: 50%;
  }

  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: #ff3d00;
    box-shadow: 30px 0 0 #fff;
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #ff3d00;
    }
    50% {
      box-shadow: 0 0 0 #ff3d00;
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #ff3d00;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #fff;
    }
    50% {
      box-shadow: 0 0 0 #fff;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #fff;
      margin-top: 0;
    }
}

/***** Page d'accueil *****/
/*** Base ***/
$main-color: #9356DC;

$second-color: #FF79DA;

$third-color: #99E2D0;

$mainbackground-color: #F7F7F7;

$secondbackground-color: #EAEAEA;

$text-color: #000000;

@mixin index-p{
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
} 
@mixin index-h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: $text-color;

}
@mixin base-card{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
@mixin h4-menu{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
@mixin p-menu{
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}
@mixin background-btn{
    background: linear-gradient(0deg, $main-color, $second-color);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    transition: all 800ms;
        &:hover{
            opacity: 0.9;
        }
    a{
        color: #FFFFFF;
    } 
}

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

a{
    text-decoration: none;
    color: $text-color;
}

/***loader***/

/*** Header ***/
header{
    height: 63px;
    display: flex;
    justify-content: center;
}

.logo{
    height: 30px;
    width: 162px;
    margin: auto;
}

/*** Localisation ***/
.localisation{
    background-color: $secondbackground-color;
    text-align: center;
    margin: 0px;
    padding: 15px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25)
}
.fa-location-dot{
    margin-right: 17px;
}

/*** Explorer ***/
.explorer{
    background-color: $mainbackground-color;
    text-align: center;
    h2{
        margin: 0px;
        padding: 40px 58px 20px 42px;
    }
    p{
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        margin: 0px 26px 0px 34px;
    }
}
    button{
        padding: 13px 19px;
        margin: 30px 0px;
        cursor: default;
        @include background-btn;
    }
    

/*** Fonctionnement ***/
.fonctionnement{
    padding: 5% 6% 5% 8%;
    h2{
        margin: 0px 0px 20px 0px;
        
    }
    ol{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 0px;
        padding-left: 0px;
    }
    li{
        @include base-card;
        list-style-type: none;
        background-color: $mainbackground-color;
        padding: 28px 38px;
        flex-grow: 1;
        position: relative;
     }
     span{
        color: white;
        background-color: $main-color;
        padding: 10px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 25px;
        left: -10px;
    }
}

.fa-mobile-screen-button , .fa-list-ul{
    color: #7E7E7E;
    margin-right: 5%;
}

.fa-store{
    color: $main-color;
    margin-right: 5%;
}

/*** Restaurants ***/
.restaurants{
    background-color: $mainbackground-color;
    padding: 5%;
    h2{
        margin: 0% 0% 4% 1%;
    }    
}

.card{
    @include base-card;
    height: 251px;
    margin-bottom: 5%;
    h3{
        @include index-h3;
        margin: 16px 0px 5px 13px;
    }
    p{
        @include index-p;
        margin: 0px 0px 12px 13px;
    }
}

.nouveau{
    position: relative;
    &::before{
        position: absolute;
        content: "Nouveau";
        top: 15px;
        right: 15px;
        width: 80px;
        height: 29px;
        background-color: $third-color;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        color: #008766;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
.plat{
    width: 100%;
    height: 65%;
    background-size: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-sizing: border-box;
    object-fit: cover;
}

.coeur{
    position: relative;
    bottom: 35px;
    left: 90%;
    font-size: 22px;
    &__vide{
        position: absolute;
        color: black;
        &:hover {
            opacity: 0;
        }
    }
    &__plein{
        position: absolute;
        opacity: 0;
        background: linear-gradient($second-color, $main-color);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: all 600ms;
        &:hover {
            opacity: 1;
        }
    }
}

/*** Footer ***/
footer{
    background-color: #353535;
    padding: 10% 5%;
    h3{
        font-family: 'Shrikhand', cursive;
        color: #FFFFFF;
        font-size: 18px;
        margin: 0px;
        padding-bottom: 16px;
    }
    ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        li{
            padding-bottom: 3%;
            a{
                color: #FFFFFF;
                i{
                    margin-right: 10px;
                }
            }
        }
    }
    &__icone{
        width: 11px;
        height: 13px;
        color: #FFFFFF;
        margin-right: 15px;
    }
}

/***** Menu *****/
/*** Header ***/
header a{
    position: absolute;
    left: 23px;
    top: 23px;
}

.photo{
    width: 100%;
    height: 275px;
    object-fit: cover;
}

/*** Carte ***/
.section-menu{
    width: 100%;
    background-color: #F7F7F7;
    border-radius: 40px 40px 0px 0px;
    margin: -40px 0px 0px 0px;
    padding: 7% 5% 1% 5%;
    position: relative;
    h2{
        font-family: 'Shrikhand';
        font-weight: 400;
        font-size: 28px;
        line-height: 41px;
        margin: 0px;
        padding: 0px 17px 2px 0px;
    }
    h3{
        font-family: 'roboto';
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        margin: 0px;
        padding: 40px 0px 12px 0px;
        &::after{
            content: "";
            display: flex;
            height: 3px;
            width: 40px;
            background-color: $third-color;
            margin-top: 5px;
        }
    }
}

.plat-carte{
    @include base-card;
    margin-top: 12px;
    display: flex;
    overflow: hidden;
    animation-name: progress-plat;
    animation-duration: 2500ms;
    &:hover {
        .check, .prix{
        margin-right: 0px;
        transition: all 700ms;
        transform: translateX(0px);
        }
    }
    @keyframes progress-plat{
        from{
            opacity: 0;
            transform: translateY(-50%);
        }
    
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
    .description{
        margin: 12px 0px 12px 15px;
        h4,p{
            margin: auto;
            overflow: hidden;
            text-overflow: ellipsis;

        }
        h4{
            font-weight: 500;
            font-size: 18px;
        }
        p{
            font-weight: 300;
            font-size: 15px;
        }
    }
    .prix{
        display: flex;
        align-items: flex-end;
        margin-left: auto;
        padding: 16px;
        font-weight: 700;
        font-size: 15px;
        transition: all 700ms;
        transform: translateX(59px);

    }
    .check{
        width: 59px;
        height: 69px;
        border-radius: 0px 15px 15px 0px;
        display: flex;
        background-color: $third-color;
        transition: all 700ms;
        transform: translateX(59px);
        .fa-circle-check{
            width: 59px;
            height: 69px;
            font-size: 20px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}



.section-menu button{
    @include background-btn;
    padding: 15px 48px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
}

/***media queries index***/
@media (min-width: 1042px) {
    .fonctionnement{
        padding: 5% 7%;
        h2{
            justify-content: flex-start;
        }
        ol{
            display: flex;
            flex-direction: row;
            gap: 5%;
        }
    }
    
    .restaurants{
        padding: 5% 7% 0% 7%;
        h2{
            margin-left: 0px;
        }
    }

    .desktopcard{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .card{
            width: 45%;
        }
    }
    
    footer{
        display: flex;
        flex-direction: row-reverse;
        padding: 5% 5% 3% 5%;
        ul{
            display: flex;
            flex-direction: row;
            li{
                padding-right: 20px;
            }
        }
    }
}


@media (min-width: 1042px){
    .section-menu{
        width: 70%;
        margin-left: 15%;
        padding: 5% 5% 1% 5%;
        h2{
            display: flex;
            justify-content: center;
        }
        .coeur{
            left: 75%;
        }
    }
}
