*, ::before, 
::after {
    box-sizing:border-box
}

/***** Page d'accueil *****/
/*** Base ***/
.primaire{
    color: #9356dc;
}
.secondaire{
    color: #FF79DA;
}

.tertiaire{
    color: #99E2D0;
}

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

/*** Header ***/
header{
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    height: 30px;
    width: 162px;
    margin: auto;
}

.localisation{
    background-color: #EAEAEA;
    text-align: center;
    margin: 0px;
    padding: 15px;
}

.fa-location-dot{
    margin-right: 17px;
}

/*** Explorer ***/
.explorer{
    background-color: #F3F3F3;
    text-align: center;
}

.explorer h2{
    margin: 0px;
    padding: 40px 58px 20px 42px;
}

.explorer p{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    margin: 0px 26px 0px 34px;
}
.explorer button{
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    padding: 13px 19px;
    margin: 30px;
    background-image: linear-gradient(0deg, #9356dc, #FF79DA);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.explorer a{
    color: white;
}

.explorer button:hover{
    opacity: 0.9;
}

/*** Fonctionnement ***/
.fonctionnement{
    counter-reset: chiffre;
}

.fonctionnement h2{
    padding: 48px 0px 0px 20px;
    margin: 0px;
}

ol{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.fonctionnement li{
    list-style-type: none;
    background-color: #F7F7F7;
    padding: 28px 38px;
    margin-right: 40px;
    flex-grow: 1;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
}

.fonctionnement li::before{
    content: "" counter(chiffre); 
    counter-increment: chiffre;
    color: white;
    background-color: #9356DC;
    padding: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 25px;
    left: -10px;
}

.fa-solid{
    margin-right: 20px;
}

.fa-mobile-screen-button{
    color: #7E7E7E;
}

.fa-list-ul{
    color: #7E7E7E;
}

.fa-store{
    color: #9356DC;
}

/*** Restaurants ***/
.restaurants{
    background-color: #F3F3F3;
    height: 1226px;
}

.restaurants h2{
    padding-top: 54px;
    padding-left: 20px;
    margin: 0px;
}

.card{
    height: 251px;
    background-color: white;
    border-radius: 15px;
    margin: 18px 18px 18px 17px;
}

.plat{
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-sizing: border-box;
}

.card h3{
    margin: 16px 0px 5px 13px;
}

.card p{
    margin: 0px 0px 12px 13px;
}

.coeur{
    display: flex;
    justify-content: flex-end;
}

.fa-solid {
    background-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

/*** Footer ***/
.footer{
    background-color: #353535;
}

.footer h3{
    font-family: 'Shrikhand', cursive;
    color: #FFFFFF;
    font-size: 18px;
    margin: 0px;
    padding: 22px 0px 16px 25px;
}

ul{
    list-style: none;
    margin: 0px;
    padding-left: 25px;
    padding-bottom: 22px;
}

.footer li{
    padding-bottom: 7px;
}

.icone-footer{
    width: 11px;
    height: 13px;
    color: #FFFFFF;
    margin-right: 15px;
}

.footer a{
    color: white;
}



/***** Menu *****/
.section-photo{
    width: 375px;
    height: 275px;
}

.photo{
    width: 375px;
    height: 275px;
    display: flex;
    justify-content: center;
}

/*** Carte ***/
.section-menu{
    height: 1300px;
    background-color: #F7F7F7;
    border-radius: 40px 40px 0px 0px;
    margin: -40px 0px 0px 0px;
    position: absolute;
}

.section-menu h2{
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    margin: 0px;
    padding: 32px 17px 0px 17px;
}

.section-menu h3{
    font-weight: 400;
    margin: 0px;
    padding: 22px 212px 16px 25px;
}
.plat-carte{
    width: 323px;
    height: 45px;
    margin: 0px 13px 12px 13px;
    padding: 12px 13.5px 12px 15px;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.plat-carte h4{
    margin: 0px;
    padding-bottom: 5px;
}

.plat-carte p{
    margin: 0px;
    font-size: 15px;

}

.prix{
    display: flex;
    justify-content: flex-end;
}

/***media queries***/
@media (max-width: 1080px) {
    .fonctionnement{
        flex-direction: column;
    }
}